@import 'styles/abstracts/_variables';

.filter {
  display: flex;
  align-items: center;
  user-select: none;

  &-status {
    margin-right: 33px;
    border-bottom: 1px solid $light-gray;
  }

  &-label {
    margin-right: 24px;
  }

  &-price {
    width: 97px;
    margin-right: 30px;
  }

  &-category {
    width: 244px;
  }

  &-button {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
}
