.primary {
  color: var(--white);
  background: var(--blue);
  border-radius: 2px;
}

.secondary {
  color: var(--blue);
  background: var(--white);
  border-radius: 2px;
  border: 1px solid var(--blue);
}

.secondary:hover {
  color: var(--white);
  background: var(--blue);
}

.btn {
  text-transform: uppercase;
  letter-spacing: 0.85px;
  padding: 12px var(--space-2xl);
  font-size: 0.8rem;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  outline: none;
}
