@import 'styles/abstracts/_mixins';
@import 'styles/abstracts/_variables';

.radio {
  @include font-family();

  display: inline-flex;
  align-items: center;
  font-size: $radio-text-font-size;
  letter-spacing: $radio-text-letter-spacing;
  line-height: $radio-text-line-height;
  color: $primary-color;

  input[type="radio"] {
    display: none;
  }

  img {
    height: 16px;
    margin-right: 8px;
  }
}
