@import 'styles/abstracts/_mixins';
@import 'styles/abstracts/_variables';

.radio {
  @include font-family();

  display: inline-flex;
  align-items: center;
  font-size: $radio-text-font-size;
  letter-spacing: $radio-text-letter-spacing;
  line-height: $radio-text-line-height;
  color: $primary-color;
  cursor: pointer;
  padding: $radio-padding;

  input[type="checkbox"] {
    display: none;
  }

  img {
    height: $radio-height;
    width: $radio-width;
    margin-right: 8px;
  }
}
