@import 'styles/abstracts/_variables';

.review {
  display: flex;

  &-user {
    display: flex;
    width: 336px;
    min-width: 336px;

    &-header {
      margin-left: 32px;

      & > p {
        margin-bottom: 6px;
        max-width: 192px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & > span > span {
        margin-bottom: 6px;
      }
    }
  }

  &-text {
    padding-bottom: 75px;
    flex-grow: 1;

    & > div {
      margin-bottom: 20px;
    }

    & > span:first-child > span {
      margin-bottom: 20px;
    }
  }

  &--separator-visible {
    border-bottom: 1px solid $lighter-gray;
  }

  span > span {
    border-radius: 0;
  }
}
