.ratingContainer {
	position: relative;
}
.filledStarsContainer {
	position: absolute;
	top: 0;
}
.emptyStarsContainer {
	position: absolute;
	top: 1px;
}
.emptyStar {
	width: 20px;
	height: 20px;
	padding: 1px;
	margin-right: 1px;
}
.starsContainer {
	display: inline-block;
}
