#filters {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;

  .controls {
    display: flex;
    & > * {
      margin-right: 10px;
    }
    & > *:last-child {
      margin-right: 0;
    }
  }

  .actions {
    display: flex;
  }
}