.arrow {
  width: 10px;
  margin-left: var(--space-xl);
}

.check {
  width: 20px;
  margin-right: var(--space-md);
}

.checkbox {
  width: 15px;
  margin-right: var(--space-sm);
}

.star {
  width: 20px;
  height: 20px;
  fill: var(--blue);
  margin-right: var(--space-sm);
}

.starXl {
  width: 30px;
  height: 30px;
  fill: var(--blue);
  margin-right: var(--space-sm);
}

.circleFill {
  width: 10px;
  margin-right: var(--space-sm);
}

.circleFillRed {
  fill: var(--red);
}

.circleFillGreen {
  fill: var(--green);
}

.circleFillXl {
  width: 20px;
}
