{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react",
    "next/babel"
  ],
  "plugins": [
    "@babel/plugin-proposal-do-expressions",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    ["styled-components", { "ssr": true }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@components": "./src/components",
        "@pages": "./src/pages",
        "@utils": "./src/utils",
      }
    }]
  ]
}