@import 'styles/abstracts/_mixins';
@import 'styles/abstracts/_variables';

.dropdown {
  @include font-family();
  position: relative;
  user-select: none;

  &-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: $select-header-padding;

    &-arrow {
      transition-duration: $select-header-transition-duration;
      transition-property: $select-header-transition-property;
      transition-timing-function: $select-header-transition-timing;

      &--rotate {
        transform: rotate(-180deg);
      }
    }
  }

  &-container {
    background: $white;
    border: 1px solid $light-gray;
    border-top-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: $select-container-padding;
    position: absolute;
    transition-duration: $select-container-transition-duration;
    transition-property: $select-container-transition-property;
    transition-timing-function: $select-container-transition-timing;
    width: 100%;
    z-index: $select-container-z-index;

    &--open {
      border: 1px solid $light-gray;
      box-shadow: $select-container-shadow;
      max-height: 300px;
    }

    & > li {
      &:first-child > label {
        padding-top: $select-container-item-padding;
      }

      & > label {
        cursor: pointer;
        padding-bottom: $select-container-item-padding;
      }
    }
  }
}
