@import '../../styles/index';

.button {
  background-color: $midnightblue;
  border-color: $midnightblue;
  border-radius: 3px;
  color: $white;
  font-family: $font-regular;
  line-height: 16px;
  padding: 10px 50px;
  text-align: center;
  text-transform: uppercase;

  &.wide {
    padding: 10px 70px;
  }
  
  &.inverted {
    background-color: transparent;
    border: 1px solid $midnightblue;
    color: $midnightblue;
  }
}

