// import for color variables
@import '../../styles/index';

.button {
  @include font-regular;
  background-color: $midnightblue;
  border-color: $midnightblue;
  border-radius: 2px;
  color: $white;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
  max-width: 420px;
  padding: 13px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  
  &.inverted {
    background-color: transparent;
    border: 1px solid $midnightblue;
    color: $midnightblue;
  }
}

