@import '../../../../styles/general/colors';
@import '../../../../styles/general/mixins';

.restaurants-filters-wrapper {
  border-top: 1px solid $mercury;
  border-bottom: 1px solid $mercury;
}

.restaurants-filters {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin: 21px 0px;

  @include atMedium {
    flex-direction: row;
    align-items: flex-start;
  }

  &__filter-label {
    margin-right: 25px;
    letter-spacing: 1px;
    color: $scorpion;


    @include atMedium {
      margin-top: 9px;
    }
  }

  &__checkbox {
    margin-right: 25px;
  }

  &__price-target {
    width: 97px;
    margin-right: 25px;
  }

  &__price-options {
    width: 97px;
  }

  &__categories-target {
    width: 190px;
    margin-right: 25px;
  }

  &__categories-options {
    width: 190px;
    height: 206px;
    overflow-x: scroll;
  }

  &__clear-button {
    @include atMedium {
      margin-left: auto;
    }
  }
}
