.cover {
  width: 304px;
  height: 228px;
  position: relative;

  &-image {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  & > span > span {
    border-radius: 0;
  }
}
