.container {
  margin: 0 var(--space-2xl);
}

.header {
  font-size: 1.8rem;
  color: var(--gray);
  font-weight: lighter;
  letter-spacing: 1px;
  margin: var(--space-2xl) 0;
}

.restaurants {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: var(--space-xl);
}

.card {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-xl);
}

.img {
  height: 200px;
  object-fit: cover;
  margin-bottom: var(--space-md);
  background: #d8d8d8;
}

.noRestaurants {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  color: var(--blue);
  padding: var(--space-2xl);
}
