.info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.name {
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 1rem;
  margin: var(--space-sm) 0;
}

.stars {
  padding: var(--space-md) 0;
  margin-bottom: var(--space-md);
}

.details {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  margin-bottom: var(--space-lg);
}

.detailsXl {
  font-size: 1.3rem;
}

.openNow {
  display: flex;
}
