// base colors
$blue: #002B56;
$black: #000000;
$white: #FFFFFF;
$lighter-gray: #E6E6E6;
$light-gray: #C8C8C8;
$gray: #666666;
$dark-gray: #757575;
$darker-gray: #333333;

// theme colors
$primary-color: $blue;
$secondary-color: $white;

// typography colors
$typography-title-color: $darker-gray;
$typography-headline-color: $black;
$typography-body-color: $gray;
$typography-status-color: $dark-gray;
$typography-label-color: $gray;
$typography-span-color: $primary-color;

// typography-title
$typography-title-font-size: 54px;
$typography-title-line-height: 64px;

// typography-subtitle
$typography-subtitle-font-size: 34px;
$typography-subtitle-line-height: 40px;
$typography-subtitle-letter-spacing: 1px;

// typography-headline
$typography-headline-font-size: 20px;
$typography-headline-line-height: 28px;
$typography-headline-font-weight: bold;
$typography-headline-letter-spacing: 1px;

// typography-body
$typography-body-font-size: 22px;
$typography-body-line-height: 32px;
$typography-body-letter-spacing: 0.916667px;

// typography-status
$typography-status-font-size: 12px;
$typography-status-line-height: 16px;
$typography-status-letter-spacing: 0.5px;
$typography-status-text-transform: uppercase;

// typography-label
$typography-label-font-size: 16px;
$typography-label-line-height: 24px;
$typography-label-letter-spacing: 1px;

// typography-span
$typography-span-font-size: 16px;
$typography-span-line-height: 16px;
$typography-span-font-weight: normal;
$typography-span-letter-spacing: 1px;

// button colors
$button-disabled-color: $light-gray;
$button-disabled-border-color: $lighter-gray;
$button-hover-background: lighten($primary-color, 7%);

// button text
$button-text-line-height: 16px;
$button-text-font-size: 14px;
$button-text-font-weight: normal;
$button-text-letter-spacing: 1px;
$button-text-text-transform: uppercase;

// button sizes
$button-size-small-width: 151px;
$button-size-normal-width: 416px;

// button misc
$button-height: 48px;
$button-border-radius: 2px;

// star size
$star-height: 19.3px;

// status size
$status-height: 8px;
$status-width: 8px;

// radio text
$radio-text-line-height: 16px;
$radio-text-font-size: 16px;
$radio-text-letter-spacing: 1px;

// radio size
$radio-height: 16px;
$radio-width: 16px;

// checkbox text
$checkbox-text-line-height: 24px;
$checkbox-text-font-size: 16px;
$checkbox-text-letter-spacing: 0.5px;

// checkbox size
$checkbox-height: 16px;
$checkbox-width: 16px;

// select
$select-header-padding: 8px 0;

$select-header-transition-duration: 0.5s;
$select-header-transition-property: transform;
$select-header-transition-timing: ease-out;

$select-container-transition-duration: 0.4s;
$select-container-transition-property: all;
$select-container-transition-timing: ease-out;
$select-container-padding: 0 16px;

$select-container-shadow: 0px 6px 5px rgba(0, 0, 0, 0.1), inset 0px -1px 0px $light-gray;
$select-container-item-padding: 11px;
$select-container-z-index: 1;
