@import 'styles/abstracts/_variables';
@import 'styles/abstracts/_mixins';

.typography {
  @include font-family();
  margin: 0;

  &--variant-title {
    @include typography-settings(
      $typography-title-color,
      $typography-title-font-size,
      $typography-title-line-height
    );
  }

  &--variant-subtitle {
    @include typography-settings(
      $typography-title-color,
      $typography-subtitle-font-size,
      $typography-subtitle-line-height
    );

    letter-spacing: $typography-subtitle-letter-spacing;
  }

  &--variant-headline {
    @include typography-settings(
      $typography-headline-color,
      $typography-headline-font-size,
      $typography-headline-line-height,
      $typography-headline-font-weight
    );

    letter-spacing: $typography-headline-letter-spacing;
    max-height: $typography-headline-max-height;
    overflow: hidden;
  }

  &--variant-body {
    @include typography-settings(
      $typography-body-color,
      $typography-body-font-size,
      $typography-body-line-height
    );

    letter-spacing: $typography-body-letter-spacing;
  }

  &--variant-body2 {
    @include typography-settings(
      $typography-body2-color,
      $typography-body2-font-size,
      $typography-body2-line-height
    );

    letter-spacing: $typography-body2-letter-spacing;
  }

  &--variant-status {
    @include typography-settings(
      $typography-status-color,
      $typography-status-font-size,
      $typography-status-line-height
    );

    letter-spacing: $typography-status-letter-spacing;
    text-transform: $typography-status-text-transform;
  }

  &--variant-status2 {
    @include typography-settings(
      $typography-status2-color,
      $typography-status2-font-size,
      $typography-status2-line-height
    );

    letter-spacing: $typography-status2-letter-spacing;
  }

  &--variant-label {
    @include typography-settings(
      $typography-label-color,
      $typography-label-font-size,
      $typography-label-line-height
    );

    letter-spacing: $typography-label-letter-spacing;
  }

  &--variant-span {
    @include typography-settings(
      $typography-span-color,
      $typography-span-font-size,
      $typography-span-line-height,
      $typography-span-font-weight
    );

    letter-spacing: $typography-span-letter-spacing;
  }

  &--color-black {
    color: $black;
  }
}
