@import '../../scss/variables';

.openNowContainer {
	float: right;
}
.openNowCircle {
	width: 8px;
	height: 8px;
	background: $color-green;
	border-radius: 100%;
	margin: 3px 5px;
	float: left;
}
.red {
	background: $color-red;
	float: left;
}
.large {
	width: 22px;
	height: 22px;
	margin: 0 10px 0 0;
}
.openNowText {
	display: inline-block;
	font-family: $font-family-primary-light;
	color: $color-grey;
}
