.filter-panel {
    display: grid;
    grid-template-columns: repeat(4, min-content) 1fr;
    column-gap: 24px ;
    place-items: center;

    :last-child {
        justify-self: end;
    }

    .filter-label {
        color: #002B56;
        padding-bottom: 8px;
        border-bottom: solid 1px #C8C8C8;
        text-transform: capitalize;
        display: inline-flex;
        min-width: 100px;
        text-align: left;
        white-space: nowrap;
        align-items: center;
    }

    .filter-title {
        color: #606060;
    }

    .clear-button {
        min-width: 150px;
    }
}