@import '../../scss/variables';

.header {
	height: 194px;
	margin-top: 36px;
}
.title {
	font-family: $font-family-primary-light;
	font-size: $font-size-large;
	justify-content: center;
	margin-bottom: 25px;
}
