:root {
  --white: #fff;
  --light-gray: #e6e6e6;
  --gray: #666666;
  --dark-gray: #333333;
  --black: #000;
  --blue: #002b56;
  --border: #c8c8c8;
  --green: #00e8a4;
  --red: #ff3548;
}

:root {
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 24px;
  --space-2xl: 32px;
}

* {
  font-family: HelveticaNeue;
}

h1 {
  font-size: 2.4rem;
  font-weight: lighter;
  letter-spacing: 1px;
  color: var(--dark-gray);
  margin-bottom: var(--space-lg);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: var(--space-2xl) 0;
}
