:local .ratingContainer {
    display: inline-block;
}
:local .filledStarsContainer {
    position: absolute;
    top: 0;
}
:local .emptyStarsContainer {
    position: absolute;
    top: 1px;
}
:local .emptyStar {
    width: 20px;
    height: 20px;
    padding: 1px;
    margin-right: 1px;
}
