html { box-sizing: border-box; }
*,
*:before,
*:after { box-sizing: inherit; }

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 -1%;

  & > .col {
    width: 25%;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 4%;
  }
}

@media (min-width: 1700px) {
  .grid {
    & > .col {
      width: 20%;
    }
  }
}

@media (min-width: 2000px) {
  .grid {
    & > .col {
      flex: 0 0 16.66%;
    }
  }
}
