
// leaflet has a couple scattered dependencies
// there's a required css in the index.html, as well as 
// this random css here required to get it's container to be cool
.leaflet-container {
  width: 600px;
  height: 250px;
}