@import '../../../../styles/general/colors';
@import '../../../../styles/general/mixins';

.review {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $mercury;
  padding: 35px 0px;

  &:first-of-type {
    padding-top: 0px;
  }

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0px;
  }

  @include atMedium {
    flex-direction: row;
    padding: 75px 0px;
  }

  &__reviewer-details {
    display: flex;
    margin-bottom: 16px;

    @include atMedium {
      flex: 0 0 25%;
      flex-direction: column;
    }

    @include atBig {
      flex-direction: row;
    }
  }

  &__reviewer-avatar {
    width: 64px;
    height: 64px;

    @include atMedium {
      width: 80px;
      height: 80px;
    }
  }

  &__reviewer-info {
    display: flex;
    flex-direction: column;
    margin-left: 18px;

    @include atMedium {
      margin-left: 0;
    }

    @include atBig {
      margin-left: 32px;
    }
  }

  &__reviewer-name {
    margin-bottom: 4px;
    font-size: 1.125rem;
    letter-spacing: 0.91px;

    @include atMedium {
      font-size: 1.375rem;
      line-height: 1.33;
      letter-spacing: 0.75px;
    }
  }

  &__date {
    font-weight: lighter;
    line-height: 1.5;
    color: $secondary-grey;
  }

  &__details {
    @include atMedium {
      flex: 0 0 75%;
      margin-top: 5px;
    }
  }

  &__comment {
    margin-top: 24px;
    font-weight: lighter;
    line-height: 1.375;
    letter-spacing: 0.8px;

    @include atMedium {
      margin-top: 20px;
      font-size: 1.25rem;
    }
  }
}
