@import '../../../../styles/general/colors';
@import '../../../../styles/general/mixins';

.restaurants-grid {
  display: flex;
  flex-direction: column;

  &__title {
    margin-top: 64px;
    font-size: 2.125rem;
    font-weight: lighter;
    line-height: 1.17;
  }

  &__restaurants {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0px -15px;
  }

  &__card-wrapper {
    width: 100%;
    padding: 43px 15px;

    @include atMedium {
      width: 50%;
    }

    @include atBig {
      width: 25%;
    }
  }
}
