.btn {
  background-color: $secondary-color;
  border: solid 1px transparent;
  color: #fff;
  display: inline-block;
  font-size: 0.875rem;
  margin: .125rem 0;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--disabled {
  background-color: #fff;
  border: 1px solid $light-color;
  color: $medium-color-alt1;
  min-width: 9.375rem;
  padding: .55rem 1rem;
}
