$primary-color: #333;
$secondary-color: #002b56;
$open-color: #00e8a4;
$closed-color: #ff3548;

//Greyscale
$dark-color: #606060;
$medium-color: #666;
$medium-color-alt1: #e6e6e6;
$light-color: #e6e6e6;
$light-color-alt1: #757575;
