.container {
  padding: var(--space-2xl);
  border-top: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.media {
  display: flex;
}

.photo {
  width: 200px;
  height: 200px;
  background-color: var(--light-gray);
  margin-right: var(--space-xl);
}

.address {
  font-style: normal;
  margin-top: var(--space-lg);
}
