.container {
  display: flex;
  padding: var(--space-2xl);
  border: 1px solid var(--border);
}

.photo {
  width: 250px;
  height: 250px;
  background-color: var(--light-gray);
  margin-right: var(--space-xl);
}
