.item {
  height: 428px;
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &-cover {
    span > span {
      border-radius: 0;
    }
  }

  &-container {
    flex-grow: 1;

    &-headline {
      margin-top: 16px;
    }

    &-rating {
      margin-top: 8px;
    }

    &-status {
      margin-top: 14px;

      & > div {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &-button {
    margin-top: 20px;
  }
}

