#home {

  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 50px;

    @media screen and (min-width: 1080px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (min-width: 1440px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (min-width: 1920px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
  }

  .loadmore-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
}