#home {
  overflow-x: hidden;

  & > * {
    padding: 0 40px;
  }

  .search-results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 40px;
    margin-bottom: 50px;
  }

  .loadmore-container {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
  }
}