html {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  position: relative;
}

* {
  font-family: 'Roboto';
  font-size: 16px;
  color: #404040;
}

*, *:before, *:after {
  box-sizing: inherit;
}


#root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  overflow-y: scroll;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.page {
  overflow-x: hidden;
  width: 100%;
}

.page-padding {
  padding: 0 40px;
}