$color-main: #002b57;
$color-green: #00e8a4;
$color-red: #ff3548;

$color-dark-grey: #606060;
$color-grey: #757575;
$color-light-grey: #e6e6e6;
$color-white: #fff;

$font-main: HelveticaNeue, sans-serif;
$font-title: 'HelveticaNeue-Light', 'Helvetica Neue Light';
$font-line-height: 24px;
$font-size-main: 16px;
$font-size-large: 54px;
