@import 'variables';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: $font-family-primary;
	font-size: $font-size-description;
	color: $color-dark-grey;
	letter-spacing: 1.5px;
}

a {
	text-decoration: none;
}
