@import './variables';

.contentContainer {
	max-width: $content-width;
	margin: 0 auto;
	padding: 0px 50px;
}

.divider {
	background-color: $color-lightest-grey;
	height: 1px;
	margin: 0;
	width: 100%;
}
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1;
}
