## Use Netlify as proxy for the yelp Api
[[redirects]]
  from = "/api/*"
  to = "https://api.yelp.com/v3/:splat"
  status = 200
  force = true # COMMENT: ensure that we always redirect
  headers = {Authorization = "Bearer API_KEY"}

[[redirects]]
  from = "/"
  to = "/index.html"
  