$primary-blue: #002B56;
$secondary-grey: #666666;

$mine-shaft-color: #333333;
$boulder-color: #757575;
$red-color: #FF3548;
$green-color: #00E8A4;
$white: #FFFFFF;
$mercury: #E6E6E6;
$silver: #C8C8C8;
$scorpion: #606060;
